<?xml version="1.0" encoding="UTF-8" ?>
<Module>
	<ModulePrefs title="<%= pkg.app.title %>">
		<Require feature="rpc" />
		<Require feature="views" />
		<Require feature="locked-domain" />
	</ModulePrefs>
	<Content type="html"><![CDATA[

<%= grunt.file.read('build/index.htm') %>

	]]></Content>
</Module>